
<a href="/movies">Go Back</a>

<div class="container">

<div class="image">
<img src="{{image}}" alt="{{title}}">
</div>
<div class="text">
<h1>{{title}}</h1>
<p>
  <strong>Director:</strong> {{director}}
</p>

<p>
  <strong>Stars:</strong> {{stars}}
</p>

<p>
  <strong>Showtimes:</strong> {{showtimes}}
</p>

<p>{{description}}</p>
</div>
</div>